.header{
    background-color: #FFFFFF;
    padding: 11px 0;
    &__menu{
        font-style: normal;
        line-height: 21px;
        letter-spacing: 1.7px;
        text-transform: uppercase;
        @include font($color-black, 12px, normal, $font);
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        margin-right: 36px;
        &--right{
            margin-right: 30px;
        }
    }
    &__right{
        @include flex-center();
    }
    &__left{
        @include flex-center(); 
    }
    &__svg{
        margin-left: 20px;
    }
}