.hero{
    background-image: url(../img/png/herobg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__title{
        @include font(#FFFFFF, 48px, normal, $font);
        max-width: 754px;
    }
    &__subtitle{
        @include font(#FFFFFF, 16px, normal, $font);
        max-width: 250px;
        padding-top: 11px;
    }
    &__content{
        flex-direction: column;
        @include flex-center();
        padding: 260px 0 0;
    }
    &__row{
        @include flex-center();
        justify-content: space-around;
    }
    &__button{
        margin: 150px 12px 0;
    }
}