.nature{
    padding: 47px 0 138px;
    &__content{
        @include flex-center();
        flex-direction: column;
    }
    &__title{
        margin-bottom: 18px;
        &--little{
            margin-bottom: 24px
        }
    }
    &__button{
        @include font ( #FFFFFF, 14px, normal, $font);
        padding: 15px 40px;
        cursor: pointer;
        background-color: $color-black;
        transition: all 500ms ease;
        border: none;
        margin: 30px 12px 119px 12px;
        &:hover{
            background-color: #FFFFFF;
            color: $color-black;
            transform: scale(1.2);
            border: 3px solid $color-black;
        }
        &--long{
            padding: 15px 150px;
            @include font ( #FFFFFF, 14px, normal, $font);
            cursor: pointer;
            background-color: $color-black;
            text-transform: uppercase;
            transition: all 500ms ease;
            border: none;
            margin: 26px 0 119px;
            &:hover{
                background-color: #FFFFFF;
                color: $color-black;
                transform: scale(1.2);
                border: 3px solid $color-black;
            }
        }
        &--longer{
            padding: 15px 50px;
            @include font ( #FFFFFF, 14px, normal, $font);
            cursor: pointer;
            background-color: $color-black;
            text-transform: uppercase;
            transition: all 500ms ease;
            border: none;
            margin: 26px 0 119px;
            &:hover{
                background-color: #FFFFFF;
                color: $color-black;
                transform: scale(1.2);
                border: 3px solid $color-black;
            }
        }
    }
    &__buttons{
        @include flex-center();
    }
    &__subtitle{
        @include font ( $color-black, 22px, normal, $font);
        margin: 17px 0 0 30px;
        &--little{
            @include font ( $color-black, 16px, normal, $font);
            margin: 17px 0 0 30px;
        }
        &--long{
            @include font ( $color-black, 16px, normal, $font);
            margin: 17px 0 0 30px;
            max-width: 348px;
        }
    }
    &__text{
        max-width: 320px;
        margin: 18px 0 30px;
        &--second{
            max-width: 645px;
            text-align: center;
            margin: 22px 0 26px;
        }
        &--third{
            max-width: 664px;
            text-align: center;
            margin: 22px 0 26px;
        }
    }
    &__slides{
        display: inline-block;
        overflow: hidden;
    }
    &__img{
        transition: 1s;
        display: block;
        &:hover{
            transform: scale(1.1);
        }
    }
}