@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.633%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.section__title {
  color: #212A2F;
  font-size: 32px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.section__text {
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.section__button {
  color: #212A2F;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 15px 40px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  transition: all 500ms ease;
}

.section__button:hover {
  background-color: #212A2F;
  color: #FFFFFF;
  transform: scale(1.2);
}

.section__img {
  background-image: url(../img/png/shoesbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section__img--second {
  background-image: url(../img/png/shoesbg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section__img--third {
  background-image: url(../img/png/shoesbg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  background-color: #FFFFFF;
  padding: 11px 0;
}

.header__menu {
  font-style: normal;
  line-height: 21px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212A2F;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__list {
  margin-right: 36px;
}

.header__list--right {
  margin-right: 30px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__svg {
  margin-left: 20px;
}

.header__logo {
  animation-name: logo;
  animation-duration: 2s;
}

.hero {
  background-image: url(/src/img/png/herobg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero__title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  max-width: 754px;
}

.hero__subtitle {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  max-width: 250px;
  padding-top: 11px;
}

.hero__content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 260px 0 0;
}

.hero__row {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.hero__button {
  margin: 150px 12px 0;
}

.favorites {
  padding: 115px 0 135px;
  background-color: #FFFFFF;
}

.favorites__title {
  max-width: 210px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.favorites__type {
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 32px 125px 48px;
}

.favorites__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites__img {
  margin-bottom: 17px;
  position: absolute;
}

.favorites__row {
  display: flex;
  align-items: center;
}

.favorites__title--small {
  color: #212A2F;
  font-size: 22px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #d3d4d5;
  padding: 0 17px 10px;
}

.favorites__description {
  color: #212A2F;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 10px 12px 0 0;
}

.favorites__button {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-top: 12px;
  display: none;
}

.favorites__button :nth-last-child() {
  padding: 15px 35x;
}

.favorites__buttons {
  margin-top: 130px;
}

.favorites__forh :hover {
  display: block;
}

.nature {
  padding: 47px 0 138px;
}

.nature__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nature__title {
  margin-bottom: 18px;
}

.nature__title--little {
  margin-bottom: 24px;
}

.nature__button {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 15px 40px;
  cursor: pointer;
  background-color: #212A2F;
  transition: all 500ms ease;
  border: 3px solid transparent;
  margin: 30px 12px 119px 12px;
}

.nature__button:hover {
  background-color: #FFFFFF;
  color: #212A2F;
  transform: scale(1.2);
  border: 3px solid #212A2F;
}

.nature__button--long {
  padding: 15px 150px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #212A2F;
  text-transform: uppercase;
  transition: all 500ms ease;
  border: 3px solid transparent;
  margin: 26px 0 119px;
}

.nature__button--long:hover {
  background-color: #FFFFFF;
  color: #212A2F;
  transform: scale(1.2);
  border: 3px solid #212A2F;
}

.nature__button--longer {
  padding: 15px 50px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #212A2F;
  text-transform: uppercase;
  transition: all 500ms ease;
  border: 3px solid transparent;
  margin: 26px 0 119px;
}

.nature__button--longer:hover {
  background-color: #FFFFFF;
  color: #212A2F;
  transform: scale(1.2);
  border: 3px solid #212A2F;
}

.nature__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nature__subtitle {
  color: #212A2F;
  font-size: 22px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 17px 0 0 30px;
}

.nature__subtitle--little {
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 17px 0 0 30px;
}

.nature__subtitle--long {
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 17px 0 0 30px;
  max-width: 348px;
}

.nature__text {
  max-width: 320px;
  margin: 18px 0 30px;
}

.nature__text--second {
  max-width: 645px;
  text-align: center;
  margin: 22px 0 26px;
}

.nature__text--third {
  max-width: 664px;
  text-align: center;
  margin: 22px 0 26px;
}

.nature__slides {
  display: inline-block;
  overflow: hidden;
}

.nature__img {
  transition: 1s;
  display: block;
}

.nature__img:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #212A2F;
  padding: 70px 0 90px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__label {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin-bottom: 6px;
}

.footer__input {
  width: 302px;
  height: 48px;
  border-bottom-color: white;
  color: white;
  background-color: #4d5559;
  border-radius: 0px;
}

.footer__button {
  padding: 16px 30px;
  background-color: #4d5559;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-left: 12px;
}

.footer__email {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 90px;
}

.footer__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.footer__list {
  margin-bottom: 16px;
}

.footer__text {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  max-width: 293px;
  line-height: 18px;
}

.footer__row {
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.footer__img {
  margin-right: 24px;
}
